<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>
<body>
    <h1>Hello <%= username %> </h1>
    <% contacts.forEach(contact => { %>
    <h2><%= contact.name %></h2>
        <h4><%= contact.phone %></h4>
        <%})%>
        
</body>
</html>